@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  padding: 2rem 0;

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
  @nest & a {
    color: inherit;
  }
}

.article {
  width: 100%;
  max-width: var(--width-x-large);
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.heading {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  font-family: var(--font-family-title);
  font-weight: 500;
}

.blogHeading {
  font-size: var(--font-title4-size);
  line-height: var(--font-title4-line-height);
  font-family: var(--font-family-title);
  font-weight: 500;
  margin: 0.4em 0 0;
}
.blogs {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2em;
  grid-column-gap: 1.5em;

  @media (--media-min-x-large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.blog {
}

.blogImage {
  max-width: 100%;
  width: 410px;
}

.blogLink {
  display: block;
  text-decoration: none;
}
