@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  position: relative;
  padding: 2rem 0;

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
  @nest & a {
    color: inherit;
  }
}

.image {
  display: block;
  width: 100%;
}

.content {
  position: relative;
  max-width: var(--width-medium);

  @media (--media-min-medium) {
    display: flex;
    margin: 0 auto;
    padding: 0 1.5rem;

    @nest & > * {
      width: 50%;
      box-sizing: border-box;
      padding: 0 1.5rem;
      align-self: flex-start;
    }
  }
}

.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  @media (--media-min-medium) {
    font-size: 48px;
  }
}

.text {
  @media (--media-min-medium) {
    font-size: 20px;
  }
}

.figcaption {
  margin-top: 1.5rem;
  @media (--media-min-medium) {
    margin-top: 0;
  }
}
