@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  padding: 2rem 0;
  max-width: var(--width-medium);
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
  @nest & a {
    color: inherit;
  }
}

.article {
  width: 100%;
  padding: 0 1.5rem;
  max-width: var(--width-small);
}

.heading {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  font-family: var(--font-family-title);
  font-weight: 500;
}
